
#aboutHeading {
    /*background-color: rgb(51, 154, 214);*/
    position: fixed;
    width: 100%;
    padding: 1.3cm;
    color: black;
    font-size: 70px;
    text-align: center;
    background: linear-gradient( 110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient( 110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient( 110deg, #fdcd3b 60%, #ffed4b 60%);
}
#about-heading-text {
    padding-right: 10%;
}
#about-heading-icon {
    padding-right: 10%;
    left: -40%;
}
#content {
    margin-left: 5%;
    margin-right: 5%;
}
